BASE_URL=https://www.saucedemo.com/
TEST_USERNAME=standard_user
TEST_PASSWORD=secret_sauce

# ---------------------------------------------------------
# Accepted usernames for specific test:
# ---------------------------------------------------------
# locked_out_user         -> (Locked user)
# problem_user            -> (Generate bugs in UI)
# performance_glitch_user -> (Causes latency and timeouts)
# error_user              -> (Checkout fail)
# visual_user             -> (Visual errors)